@model OkuTara_Deneme_2.ViewModels.ProfileRoleViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<title>Admin - Profil</title>


<div class="container">

    <div class="container mt-5">
        <div class="row justify-content-center text-center">
            <div class="col-md-6">
                <div class="p-4 bg-white rounded shadow-sm">
                    <h3>Kullanıcı Rolü</h3>
                    <ul class="list-unstyled">
                        @foreach (var role in Model.Role)
                        {
                            <li>
                                @role.RoleName
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-1">
        <div class="row justify-content-center text-center">
            <div class="col-md-6">
                <div class="p-4 bg-white rounded shadow-sm">
                    <h3>Kullanıcı Bilgileri</h3>
                    <div class="my-3"></div>
                    <p>@HttpContext.Current.User.Identity.Name</p>
                    <hr>
                    <p>@Html.DisplayFor(x => x.User.UserName, new { @class = "form-control" }) @Html.DisplayFor(x => x.User.UserSurname, new { @class = "form-control" })</p>
                    @*<hr>
                        <p></p>*@
                    <hr>
                    <p>@Html.DisplayFor(x => x.User.UserPhone, new { @class = "form-control" })</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container my-1">
        <div class="row justify-content-center text-center">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="py-2">
                    <a href="@Url.Action("AdminDetails", "AdminProfile", new { id = Model.User.UserId })" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Detay"><i class="fa-solid fa-circle-info"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>