@model OkuTara_Deneme_2.Models.Classes.Page
@{
    ViewBag.Title = "PageDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<title>Admin - Sayfalar Detay</title>

<div class="p-5 d-flex justify-content-center">
    <div class="w-25">

        @using (Html.BeginForm("PageUpdate", "AdminPages", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2>Sayfa İçeriği Güncelleme</h2>
            @Html.HiddenFor(x => x.PageId)

            <div class="my-2">
                @Html.Label("Sayfa Section")
                @Html.TextBoxFor(x => x.Section, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="my-2">
                @Html.Label("İçerik Başlığı")
                @Html.TextAreaFor(x => x.PageTitle, new { @class = "form-control" })
            </div>


            <div class="my-2">
                @Html.Label("İçerik")
                @Html.TextAreaFor(x => x.PageContent, new { @class = "form-control" })
            </div>

            <div class="my-2">
                @Html.Label("İçerik Adı")
                @Html.TextBoxFor(x => x.PageName, new { @class = "form-control", @disabled = "disabled" })
            </div>

            <div class="my-2">

                @Html.Label("Fotoğraf Yükle")
                <input type="file" name="PhotoUpload" class="form-control" />
                @if (!string.IsNullOrEmpty(Model.PagePhoto))
                {

                    <p>Mevcut Fotoğraf:</p>
                    <div class="d-flex justify-content-center">

                        <img src="@Model.PagePhoto" alt="Site Logosu" style="max-width: 150px;" />
                    </div>


                }

            </div>

            <div class="py-1 d-flex justify-content-end align-items-center">
                <button class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Güncelle"><i class="fa-solid fa-circle-check"></i></button>
            </div>
        }
    </div>
</div>